{% extends 'ads/base_menu.html' %}
{% block title %}{{ settings.APP_NAME }}{% endblock %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->

{% block head %}
<style>
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    /*dim the background*/
  }
</style>
<style>
  .multicolortext{
        font-size: 5vw; /* make our h1 tag larger */
        font-family: sans-serif; /* choosing our font */
        background: linear-gradient(to right, rgb(117, 41, 117) 0%, rgba(177, 27, 162, 0.5) 20%, rgb(185, 111, 123) 61%), linear-gradient(purple 52%, black 60%, black 61%); /* you can change the colors based on your preference */
        background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
        -webkit-background-clip: text; /*for browsers compatibility */
        -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
        animation: wave 2000ms ease alternate infinite;
        transition: all 0.4s ease;
      }
      @keyframes wave {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 50vw 10px;
        }
      }
</style>
{% endblock %}


{% block content %}


{% if question.id == 8 %}
<h3 class="multicolortext">{{ question.question_text }}</h3>
{% load static %} 
  <img style="width:30%;margin-top: 10px; margin-bottom: 10px; border:5px solid rgb(132, 54, 67); " src="{% static 'bieber.gif' %}" 
  alt="A random picture of a cat">
{% else %}
<h3>{{ question.question_text }}</h3>
{% endif %}
{% if question.answer %}
<p>La respuesta de Paupis fue {{question.answer}}</p>
{% else %}
<p>Paupis no ha contestado</p>
{% endif %}
<br>
<a href="{% url 'polls:answer' question.id%}">Contestar pregunta</a>
{% endblock %}